.container
  - if user_signed_in? && current_user.admin == true
    = link_to 'new post', new_post_path
.posts-wrapper
  - @posts.each do |post|
    .post
      %h2{class: "title"}
        = post.title
        %hr
      = raw post.body
      .post-time
        =post.created_at
      - if user_signed_in? && current_user.admin == true
        = link_to 'edit', edit_post_path(post)
        = link_to 'delete', post_path(post), method: :delete, data: { confirm: 'sure to delete?' }
